<div class="w-full py-6 px-3">
  <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
    <a href="{{ product_info.url }}">
      {% if product_info.featured_image %}
        <div class="h-80 overflow-hidden">
          <img
            class="w-full h-full object-cover transition duration-100 ease-in ease-out hover:scale-105 transform"
            src="{{ product_info.featured_image | img_url: 'medium' }}"
            alt="{{ product_info.featured_image.alt }}"
            loading="lazy">
        </div>

      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}
    </a>

    <div class="flex flex-col p-4">
      {% if display_vendor %}
        <span class="text-sm text-gray-400">{{ product_info.vendor }}</span>

      {% endif %}

      <a href="{{ product_info.url }}" class="text-gray-700 uppercase font-medium">{{ product_info.title }}</a>

      <p class="text-gray-500">{{ product_info.price | money }}</p>
    </div>

  </div>
</div>